<div class="container py-3">
  <div class="row">
    <div class="col-8"></div>
    <div class="col-4">
      <mat-card class="">
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content class="d-flex flex-column">
          <mat-form-field class="px-3">
            <mat-label>Email</mat-label>
            <input matInput placeholder="your email" value="" />
          </mat-form-field>
          <button
            mat-raised-button
            color="primary"
            class="m-1 mx-3"
            routerLink="/forgot"
          >
            Send
          </button>
          <button
            mat-raised-button
            color="accent"
            class="m-1 mx-3"
            routerLink="/register"
          >
            Register
          </button>
          <button mat-button class="m-1 mx-3" routerLink="/login">
            I have an account
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
